
<ion-content [fullscreen]= "true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-searchbar id="searchbar" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" (ionClear)="resetChanges()"></ion-searchbar>
  <ion-list id ="searchOut">
    <ion-item *ngFor="let profile of profilelist">
      {{ profile.title}}
    </ion-item>
  </ion-list>
    <div id="map_canvas"></div>
</ion-content>



<lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" [toolbarTopMargin]="100" [minBottomVisible]="200">

  <ion-toolbar color="light" (click)="toggleFooter()" #ionDragFooter>
      <ion-title style="text-align: center;">Recommendation</ion-title>
  </ion-toolbar>
  <ion-content class= "mainBack">  

    <div class ="secondMain">
      <div class ="backColor">

   <ion-card class= "cards" >
      <ion-card-header>
        <ion-card-title class="text">Anthony's Fruit </ion-card-title>        
      </ion-card-header>
      <ion-card-content>
           <ion-card-subtitle>Contact info:(323)-865-9033</ion-card-subtitle>
             <ion-card-subtitle>Address:123 Apple Ave, Los Angeles CA</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <ion-card class = "cards" >
      <ion-card-header>
        <ion-card-title class= "text">LA Hotdogs </ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Contact info: (323)-789-5439</ion-card-subtitle>
        <ion-card-subtitle>Address:123 Apple Ave, Los Angeles CA</ion-card-subtitle>
        
    </ion-card-content>
    </ion-card>

    <ion-card class = "cards" >
      <ion-card-header>
        <ion-card-title class= "text">Ivan's Tacos </ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Contact info: (323)-789-5439</ion-card-subtitle>
        <ion-card-subtitle>Address:123 Apple Ave, Los Angeles CA</ion-card-subtitle>
        
    </ion-card-content>
    </ion-card>

    <ion-card class = "cards" >
      <ion-card-header>
        <ion-card-title class= "text"> Marcos Corn </ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Contact info: (323)-789-5439</ion-card-subtitle>
        <ion-card-subtitle>Address:123 Apple Ave, Los Angeles CA</ion-card-subtitle>
        
    </ion-card-content>
    </ion-card>

    <ion-card class = "cards" >
      <ion-card-header>
        <ion-card-title class= "text">Maria Taco Stand </ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Contact info: (323)-789-5439</ion-card-subtitle>
        <ion-card-subtitle>Address:123 Apple Ave, Los Angeles CA</ion-card-subtitle>
        
    </ion-card-content>
    </ion-card>


    </div>
    </div>

    
    

  </ion-content>
</lib-ionic-pullup>
